@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-container > .category-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-container .dh-container {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.category-container .dh-container img {
  display: block;
  width: 100%;
  height: auto;
}

.category-container .dh-overlay {
  position: absolute;
  top: -100%;
}
.category-container .dh-overlay {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.category-container .category-btn {
  margin: auto;
  background-color: #fff;
  color: #333333;
  width: 40%;

  text-align: center;
  transition: all 0.5s linear;
  justify-content: center;
  align-items: center;

  /* Centered */
  position: absolute !important;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.category-container .category-btn p {
  font-size: 15px;
  font-weight: 500;
  padding-top: 15px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.category-container .category-btn:hover {
  background-color: #f63440;
  color: #fff;
}

.category-container .category-btn:hover > p {
  color: #fff;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .category-container .category-item {
    width: 32%;
  }
  .category-container .category-btn {
    width: 60%;
    padding: 1px;
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .category-container .category-item {
    width: 32%;
  }

  .category-container .category-btn {
    width: 55%;
    padding: 2px;
  }
}
@media screen and (max-width: 1000px) {
  .category-container .category-btn p {
    font-size: 10px;
  }
}

/*Ipad dá»c(768 x 1024)*/
@media screen and (max-width: 768px) {
  .category-container {
    flex-direction: column;
    align-items: center;
  }

  .category-container .category-btn {
    width: 55%;
    padding: 1px;
  }

  .category-container .category-item {
    width: 100%;
    margin-top: 20px;
  }

  .category-container .category-item:nth-child(2) > div:nth-child(1) {
    margin-bottom: 20px;
  }
  .category-container .category-btn p {
    font-size: 15px;
  }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
  .category-container .category-btn p {
    font-size: 10px;
  }
}
