@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

.service-container-fluid {
  background-color: #f5f5f5;
  width: 100%;
}

/* Service container flex layout */
.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Service item in flex container */
.service-item {
  text-align: center;
  width: 24%;
}

.service-item > p:nth-child(1) {
  color: #f63440;
  font-size: 24px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
.service-container .link {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* line-height: 31px; */
  transition: color 0.3s ease-in-out;
}

/* Description */
.service-item > .desc {
  color: #6e6e6e;
  font-size: 14px;
  /* line-height: 26px; */
}

/* Hover and transition */
/* Link hover */
.service-item > .link:hover {
  color: #f63440;
}
/* Responsive */
@media only screen and (max-width: 765px) {
  .service-container {
    flex-direction: column;
    align-items: center;
  }
  .service-item {
    width: 100%;
  }
}

/* 4K TV */
@media screen and (max-width: 2560px) {
  .service-container {
    width: 55%;
  }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .service-container {
    width: 75%;
  }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .service-container {
    width: 85%;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .service-container {
    width: 95%;
  }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
  .trending-container {
    width: 95%;
  }
}
