@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700|";
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2)
    format("woff2");
}
.bodi {
  font: 14px/26px "Poppins", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #6e6e6e;
}
.boxed {
  overflow: hidden;
  position: relative;
}
.text-row {
  clear: both;
  display: block;
  position: relative;
  padding: 87px 0 63px 0;
  overflow: hidden;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px !important;
}

.loaded {
  clear: both;
  display: block;
  height: 49px;
}

.over-title {
  margin-bottom: 40px;
}

.over-title > h2 {
  font-size: 24px;
  line-height: 30px;
  color: #252525;
  font-family: "Poppins", sans-serif;
}

.over-rise .over-toggle {
  margin-bottom: 15px;
}

.over-rise .over-toggle .toggle-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 11px;
  cursor: pointer;
}

.over-rise .over-toggle .toggle-text {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 14px;
}

.over-rise .over-toggle .toggle-text p {
  line-height: 24px;
  margin-bottom: 25px;
  font-size: 14px;
  filter: contrast(1%);
  font-family: "Poppins", sans-serif;
}

#loading-overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
}

.loader:before,
.loader:after {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  -webkit-animation: preloader-wave 1.6s linear infinite;
  animation: preloader-wave 1.6s linear infinite;
  border-radius: 50%;
  background: #f63440;
}

.loader:after {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

.layout-breadcum-fluid {
  background-image: url("https://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg");
  background-position: 50% 0px;
  padding: 70px 0px 70px;
  /* background-attachment: fixed; */
}

.layout-breadcum-fluid > .container {
  display: flex;
  justify-content: center;
}

.title-breadcum-heading .title-blog {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  font-family: "Poppins";
  text-align: center;
  margin: 0;

  color: #333333;
}
.breadcum ul li {
  text-decoration: none;
}
.breadcum ul li:before{
  content: ">";
    position: absolute;
    top: 0;
    right: -12px;
}