/* *{
    margin:0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.header{
    background: red;
}


body .container{
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/Images/bg-parallax2.jpg);
    background-position: center;
    background-color: red
} */
/* 
.boxed{
    background: red;
}
.parallax2{
    background-image: url(../Assets/Images/bg-parallax2.jpg);
    height: 110vh;
    background-position: center;
    
}

.parallax2 .overlay{
    position: absolute;
    background-position: center;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.container header{
    line-height: 58px;
    color: #fff;
    font-size: 24px;
}

.container p{
    color: #fff;
    font-size: 78px;
    line-height: 90px;
    font-weight: 500;
}

.container .time-titles{
    display: flex;
}

.time-titles .time{
    display: flex;
}