/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.title-page{
    overflow: hidden;
    position: relative;
}

.flat-row .flat-coming-soon{
    width: 100%;
    background-attachment: fixed;
}

.parallax2{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax2.jpg");
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.text-page{
    clear: both;
    display: block;
    position: relative;
    overflow: hidden;
}
.text-page.title-page{
    padding: 218px 0 212px;
}
.textImg{
    width: 100%;
    background-attachment: fixed;
}
.textImg1{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax2.jpg");
}

.comming-page{
    color: #fff;
}

.text-center{   
    text-align: center;
}

.comming-page .text-comming{
    margin-bottom: 42px;
}

.comming-page .text-comming h2.first-text{
    line-height: 58px;
    color: #fff;
}
h2{
    font-size: 24px;
    font-weight: 500;
}
.comming-page .text-comming .second-text{
    font-size: 72px;
}

.date-time{
    margin-bottom: 55px;
}

.countdown .time-line{
    display: inline-block;
}

.countdown .time-line .numb{
    font-size: 48px;
    line-height: 90px;
    font-weight: 500;
    color: #333;
    width: 90px;
    height: 90px;
    background: rgba(255,255,255,.9);
    text-align: center;
    margin: 0 35px 18px;
}

.countdown .time-line .text{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}


