/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.title-page{
    overflow: hidden;
    position: relative;
}

.flat-row .flat-coming-soon{
    width: 100%;
    background-attachment: fixed;
}

.parallax2{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax2.jpg");
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.title-page{
    padding: 218px 0 212px;
}
.textImg{
    width: 100%;
    background-attachment: fixed;
}
.textImg1{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax2.jpg");
}

.comming-page .{}

.text-center{

    }

