/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.title-page{
    overflow: hidden;
    position: relative;
}

.flat-row .flat-coming-soon{
    width: 100%;
    background-attachment: fixed;
}

.parallax2{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax2.jpg");
} */

