<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modaz</title>

    <link rel="stylesheet" href="../css/blog/layout-breadcum.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <!-- Bootsrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <!-- Common css for media query -->
    <link rel="stylesheet" href="../css/common.css" />
    <!-- Horizontal header -->
    <link
      rel="stylesheet"
      href="../css/header/horizontal-header-component.css"
    />
    <!-- Vertical header -->
    <link rel="stylesheet" href="../css/header/vertical-header-component.css" />
    <!-- loading  -->

    <!-- faq css -->
    <link rel="stylesheet" href="../pages/FaQ/FAQ.css" />

    <!-- contact component -->
    <link rel="stylesheet" href="../css/contact-component.css" />
    <!-- footer -->
    <link rel="stylesheet" href="../css/footer-component.css" />
  </head>

  <body>
    <!-- Loading -->
    <div id="loading-overlay">
      <div class="loader"></div>
    </div>

    <!-- Header -->
    <!-- Horizontal nav -->
    <div class="header-container-fluid">
      <section class="my-container header-container">
        <div class="header-logo">
          <img
            alt="logo header"
            src="http://themesflat.com/html/modaz/images/logo@2x.png"
          />
        </div>

        <div class="main-menu">
          <ul>
            <li>
              <a href="/index.html">HOME</a>
            </li>
            <li>
              SHOP
              <ul class="sub-menu">
                <li>Shop Layouts</li>
                <li>Shop Details</li>
              </ul>
            </li>
            <li>
              PAGE
              <ul class="sub-menu">
                <li>
                  <a href="pages/comingsoon&FAQ/coming-soon.html"
                    >Coming soon</a
                  >
                </li>
                <li><a href="pages/FaQ/FAQ.html">FAQ</a></li>
              </ul>
            </li>
            <li>
              BLOG
              <ul class="sub-menu">
                <li>Blog Gird Full</li>
                <li>Blog Details</li>
              </ul>
            </li>
            <li><a href="pages/Contact/contact.html">CONTRACT</a></li>
          </ul>

          <!-- Space div -->
          <div class="space-div"></div>
          <!-- End space -->
          <div class="extra-menu">
            <div>
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div>
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="cart-badges">
              <button
                type="button"
                class="btn btn-primary position-relative custom-class"
              >
                <i class="fa-solid fa-cart-shopping"></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  3
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- End horizontal nav -->

    <!-- Vertical nav -->
    <section class="my-container vertical-header-container">
      <div class="menu-bar">
        <div class="vertical-header-logo">
          <img
            alt="logo header"
            src="http://themesflat.com/html/modaz/images/logo@2x.png"
          />
        </div>

        <div class="menu-bar-icon" id="btn-menu-bar">
          <i id="icon-btn" class="bi bi-list"></i>
        </div>
      </div>
    </section>

    <!-- Item menu -->
    <div class="vertical-item-menu" id="vertical-item-menu">
      <ul class="item-menu">
        <li>
          <div class="item-link">
            HOME
            <span class="arrow-icon"><i class="bi bi-chevron-down"></i></span>
          </div>
        </li>

        <li>
          <div class="item-link" id="shop-item">
            SHOP
            <span class="arrow-icon"
              ><i id="shop-item-icon-down" class="bi bi-chevron-down"></i
            ></span>
          </div>

          <ul class="sub-menu" id="shop-item-sub">
            <li>
              <div class="item-link">Shop Layouts</div>
            </li>
            <li>
              <div class="item-link">Shop Details</div>
            </li>
          </ul>
        </li>

        <li>
          <div class="item-link" id="page-item">
            Page
            <span class="arrow-icon"
              ><i id="page-item-icon-down" class="bi bi-chevron-down"></i
            ></span>
          </div>

          <ul class="sub-menu" id="page-item-sub">
            <li>
              <div class="item-link">Coming soon</div>
            </li>
            <li>
              <div class="item-link">Shop Details</div>
            </li>
          </ul>
        </li>

        <li>
          <div class="item-link" id="blog-item">
            Blog
            <span class="arrow-icon"
              ><i id="blog-item-icon-down" class="bi bi-chevron-down"></i
            ></span>
          </div>

          <ul class="sub-menu" id="blog-item-sub">
            <li>
              <div class="item-link">Blog Gird Full</div>
            </li>

            <li>
              <div class="item-link">Blog Detail</div>
            </li>
          </ul>
        </li>

        <li>
          <div class="item-link">
            Contract
            <span class="arrow-icon"
              ><i id="shop-item-icon-down" class="bi bi-chevron-down"></i
            ></span>
          </div>
        </li>
      </ul>
    </div>
    <!-- End Vertical nav -->

    <!-- End header -->

    <div class="layout-breadcum-fluid">
      <div class="nhi-container">
        <div class="row">
          <div class="title-breadcum-heading">
            <h1 class="title-blog">Blog List</h1>
            <div class="breadcrumb">
              <a>Home</a>
              <span>></span>
              <a>Blog</a>
              <span>></span>
              <a>Blog</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-blog">
      <div class="wrapBlog">
        <div class="grid-blog">
          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/11.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>Grenfell Remembered, Six Months On</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  MARKING exactly six months since the devastating blaze at
                  Grenfell Tower, in which 71 people died and hundreds more
                  lost...
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/12.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>The Design Museum Honours...</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  When the Tunisian-born couturier Azzedine Alaïa passed away in
                  Paris on November 18, tributes began pouring in....
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/13.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>Is Adriana Lima Hanging Up Her Wings?</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  It is a long established fact that a reader will be
                  dis-tracted by the readable content of a page when looking at
                  its layout...
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/14.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>Looking For A New Statement Piece?</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  There’s nothing more personal in anyone’s wardrobe than their
                  jewellery. It tells a story beyond the possi-bilities of most
                  clothes....
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/15.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>Anya Hindmarch Changes Strategy</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  ANYA HINDMARCH’s shows are a highlight on the London Fashion
                  Week schedule - a visual feast that hhas seen the designer's
                  team...
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/16.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>This Week In Pictures - 11/12/2018</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  Democrat Doug Jones defeats Roy Moore to win a US senate seat
                  for Alabama. The unexpected victory has made Jones the
                  first...
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/17.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>Five Festive Obsessions That Make...</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  ‘Tis the season of merriment, as the December calendar swells
                  with soirées, parties and gatherings galore. The ingredients
                  of each family...
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/18.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>The Sustainable New Denim Line</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  There is a new era of sustainability in fashion. No longer is
                  such a word exclusively associated with hand-hewn hemp or
                  hessian sacking,..
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="post-clearfix">
            <img src="https://themesflat.com/html/modaz/images/blog/19.jpg" />
            <div class="content-post">
              <div class="title-post">
                <h2>
                  <a>How Saint Laurent’s Crystal Boots...</a>
                </h2>
              </div>
              <div class="entry-post">
                <p>
                  BEYONCÉ might have been out of the spotlight since releasing
                  her sixth studio album, Lemonade, and nursing twins Rumi and
                  Sir...
                </p>
              </div>
              <a class="link-more">Read More</a>
            </div>
          </div>

          <div class="blog-pagination text-center clearfix">
            <ul class="flat-pagination">
              <li class="prev">
                <a href="#">
                  <i class="fa-solid fa-angle-left"></i>
                </a>
              </li>
              <li>
                <a href="#">1</a>
              </li>
              <li class="active">
                <a href="#" title="">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-angle-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <section class="contact-container-fluid">
      <div class="my-container contact-container">
        <div>
          <p>Sign up for Send Newsletter</p>
        </div>

        <div>
          <input placeholder="Your email" />
          <button>SUBCRIBE</button>
        </div>

        <div class="social-list-icon">
          <div><i class="bi bi-facebook"></i></div>
          <div><i class="bi bi-twitter"></i></div>
          <div><i class="bi bi-google"></i></div>
          <div><i class="bi bi-google"></i></div>
          <div><i class="bi bi-linkedin"></i></div>
        </div>
      </div>
    </section>

    <section class="my-container footer-container">
      <div>
        <p>About Us</p>
        <p>Online Store</p>
        <p>Blog</p>
        <p>Contract Us</p>
      </div>

      <div>
        <p>Login/ Register</p>
        <p>Your Cart</p>
        <p>Wishlist items</p>
        <p>Your checkout</p>
      </div>

      <div>
        <p>FAQs</p>
        <p>Term of service</p>
        <p>Privacy Policy</p>
        <p>Returns</p>
      </div>

      <div>
        <img
          alt="img"
          src="https://themesflat.com/html/modaz/images/logo@2x.png"
        />

        <p>112 Kingdom, NA 12, New York</p>
        <p>+12 345 678 910</p>
        <p>infor.deercreative@gmail.com</p>
      </div>
    </section>

    <div class="footer-copy-right-fluid">
      <div class="my-container footer-copyright-container">
        <p>
          Copyright @2018
          <a class="" href="#">Modaz</a>
        </p>
      </div>
    </div>

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>

    <!-- Loading -->
    <script src="../pages/FaQ/javascript/loader.js"></script>
    <!-- Header js jquery -->
    <script src="../js/header/header.js"></script>
  </body>
</html>
