*{
    padding: 0;
    margin: 0;
}
.page-title {
    position: relative;
    padding: 76px 0 77px;
    text-align: center;
}

.parallax1 {
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg");
}


.breadcrumbs{
    font: 14px/26px "Poppins",sans-serif;
    font-weight: 300;
    color: #6e6e6e;
}