*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.title-page{
    position: relative;
    padding: 76px 0 77px;
    text-align: center;
}
.textImg{
    width: 100%;
    background-attachment: fixed;
}
.textImg1{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg");
}

.heading-page{
    .container header{
        font-size: 48px;
        line-height: 48px;
        font-weight: 500;
        margin-bottom: 23px;
        color: #333;
    }
    
    .container a{
        color: #6e6e6e;
        font-weight: 400;
        text-decoration: none;
        font-size: 14px;
    }
    
    ul a::before{
        content: '>';
    }
    
    
    .container ul{
        list-style: none;
    }
}