
@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700|";
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2) format('woff2');
}
 .bodi{
    font: 14px/26px "Poppins",sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #6e6e6e;
 }
.boxed{
    overflow: hidden;
    position: relative;
}
.text-row{
    clear: both;
    display: block;
    position: relative;
    padding: 87px 0 63px 0;
    overflow: hidden;
}

.my-container{
    position: relative;
    margin: 0 20px;
    /* max-width: 1200px !important; */
    max-width: 80%;
}

.loaded{
    clear: both;
    display: block;
    height: 49px;
}

.over-title{
    margin-bottom: 40px;
}

.over-title > h2{
    font-size: 24px;
    line-height: 30px;
    color: #252525;
    font-family: "Poppins",sans-serif;;
}

.over-rise .over-toggle{
    margin-bottom: 15px;
}

.over-rise .over-toggle .toggle-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #111;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
    margin-bottom: 11px;
    cursor: pointer;
}

.over-rise .over-toggle .toggle-text{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 14px;
}

.over-rise .over-toggle .toggle-text p{
    line-height: 24px;
    margin-bottom: 25px;
    font-size: 14px;
    filter: contrast(1%);
    font-family: "Poppins",sans-serif;
}

