*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    position: relative;
    padding: 76px 0 77px;
    text-align: center;
}

.textImg{
    background-image: url("http://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg");
}

.container header{
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 23px;
    color: #333;
}

.container a{
    color: #6e6e6e;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}

ul a::before{
    content: '>';
}


.container ul{
    list-style: none;
}

.container ul li{
    display: inline-block;
}
.backgroud-content{
    background: white;
}


h2{
    font-size: 24px;
    line-height: 30px;
    color: #252525;
}



.float{
    clear: both;
    display: block;
    position: relative;
    padding: 87px 0 63px 0;
    overflow: hidden;
}
