<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Modaz.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/blogdetai.css" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../images/">
    
</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>




    <div class="container">
        <section class="blog-posts blog-detail">
            <div class="row">
                <div class="col-md-9">
                    <div class="post-wrap detail">

                        <article class="post clearfix">
                            <div class="title-post">
                                <h2><a class="anya" href="blogdetai.html">Anya Hindmarch Changes Strategy</a></h2>
                                <hr />
                            </div><!-- /.title-post -->

                            <div class="content-post">
                                <div class="meta-post">
                                    <div class="phai">
                                        <span>Posted By: </span><a class="admin" href="#">Admin</a>
                                    </div>

                                    <div class="trai">
                                        <span>Date 10/10/2018 | <a class="day" href="#"> 10 Comment</a></span>
                                    </div>
                                </div>
                            </div><!-- /.meta-post -->
                            <div class="featured-post">
                                <img src="../images/anh1.jpg" alt="image">
                            </div>
                            <div class="entry-post">
                                <p>Earlier this month, the Selfridges Wonder Room welcomed a new addition to its
                                    star-studded and sparkling roster: Bucherer Fine Jewellery. Bucherer is a brand
                                    steeped in history; it was founded nearly 130 years ago in 1888 in Switzerland,
                                    the home of jewellery, and has been creating modern pieces with a rich heritage
                                    ever since. From the younger Peekaboo collection to the high design of the Viv-
                                    elle line, there’s something for everyone here.</p>
                                <p>Diamond connoisseurs will fall for the carats nestled within Bucherer’s designs,
                                    whether they’re in the market for an engagement ring, a statement necklace or
                                    the perfect pear drop earrings to offset &nbsp; any evening look. But the
                                    collection we’re most excited for is Peekaboo. Think Marie Antoinette meets
                                    Glossier with a smattering of stones thrown in for good measure.</p>
                                <p>It’s feminine and bold, innocent but statement-making, and romantic in all the
                                    right ways. With a fon- dant fancy colour palette of brilliant-cut stones set in
                                    gold and decorated with dinky diamonds to bring another level to the pieces, it
                                    hits the right notes every time.</p>
                                <div class="box-detail">
                                    <h3>The best Jewellery 2018</h3>
                                    <p>This is jewellery to aspire to – pieces that will last a lifetime and be
                                        imbued with the kind of sentimen- tality that only jewellery can achieve.
                                        And Bucherer Fine Jeweller’s stellar work doesn’t stop there. For a more
                                        graphic and structural take on jewellery-box delights, look no further than
                                        the pear-shaped modern elegance of Lacrima – dainty, architectural and
                                        opulent in one fell swoop.</p>
                                </div>
                                <blockquote>
                                    <p>“Bucherer has a range of lines that will appeal to a range of women – and men
                                        – in this loud, busy modern world and cut through the noise with jewellery
                                        steeped in heritage and crafted by the best artisans Europe has to offer.”
                                    </p>
                                    <div class="name">
                                        <span>Ollie Schneide</span> -CEO DeerCreative
                                    </div>
                                </blockquote>
                            </div>
                    </div><!-- /.content-post -->
                    <div class="direction">
                        <div class="tags-share clearfix">                          
                                <div class="tags">
                                    <span>
                                        Tags:
                                    </span>
                                    <a href="#">Decoration,</a>
                                    <a href="#">Fashion,</a>
                                    <a href="#">Bags</a>
                                </div>

                        <div class="float-right">
                                <div class="social-icon">
                                    <div class="social-list">
                                        <div class="share">Share:</div>
                                        <div><a id="face" href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
                                        <div><a id="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></div>
                                        <div><a id="google" href="#"><i class="fa-brands fa-google-plus-g"></i></a>  </div>
                                        <div><a id="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></div>
                                        <div><a id="gmail1" href="#"><i class="fa-solid fa-envelope"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                        
                        <div class="next-pre">                          
                                <div class="pre-content">
                                    <div class="mui-trai">
                                        <a class="aleft" href="#"><i class="fa-solid fa-angle-left"></i></a>
                                    </div>
                                    <div class="text text-pre">
                                        <span>Previous Reading</span>
                                        <h4><a class="left" href="#">Upto 50% offer For Men’s Bag – Black...</a></h4>
                                    </div>
                                </div>
                    

                                <div class="next-content">
                                    
                                    <div class="text text-next">
                                        <span>Next Reading</span>
                                        <h4><a class="right" href="#">Fall Summer Fashion Trends 2018</a></h4>
                                    </div>

                                    <div class="mui-phai">
                                        <a class="aright" href="#"><i class="fa-solid fa-angle-right"></i></a>
                                    </div>
                                </div>
                    </div><!-- /.direction -->
                    </article><!-- /.post -->
                </div>

                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="widget widget_categories">
                            <h5 class="widget-title">Categories</h5>
                            <ul>
                                <li><a href="#">Fashion</a></li>
                                <li class="active"><a href="#">Design</a></li>
                                <li><a href="#">Trends</a></li>
                                <li><a href="#">Uncategorized</a></li>
                                <li><a href="#">Quote</a></li>
                            </ul>
                        </div><!-- /.widget-categories -->

                        <div class="widget widget-news-latest">
                            <h4 class="widget-title">New Latest</h4>
                            <ul class="popular-news clearfix">
                                <li>
                                    <h6>
                                        <a href="#">The Digital Style Guides</a>
                                    </h6>
                                    <a class="post_meta">August 19, 2018</a>
                                </li>
                                <li>
                                    <h6><a href="#">How to choice swimming trunks for this summer</a></h6>
                                    <a class="post_meta">August 19, 2018</a>
                                </li>
                                <li>
                                    <h6><a href="#">Building a Brand for Startup</a></h6>
                                    <a class="post_meta">August 19, 20187</a>
                                </li>
                            </ul><!-- /.popular-news -->
                        </div><!-- /.widget-news-latest -->

                        <div class="widget widget_tag">
                            <h5 class="widget-title">Popular Tags</h5>
                            <div class="tag-list">
                                <a href="#">All products</a>
                                <a href="#" class="active">Bags</a><br>
                                <a href="#">Chair</a>
                                <a href="#">Decoration</a><br>
                                <a href="#">Fashion</a>
                                <a href="#">Tie</a>
                                <a href="#">Furniture</a><br>
                                <a href="#">Accesories</a>
                            </div>
                        </div><!-- /.widget-tag -->
                    </div><!-- /.sidebar -->
                </div>
            </div>
        </section>
    </div>

</body>


</body>

</html>