<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>Category</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/category-component.css" />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Category component -->
    <section class="my-container category-container">
      <div class="dh-container category-item">
        <img
          alt="image"
          src="http://themesflat.com/html/modaz/images/image-box/imgbox-1-375x500.jpg"
        />

        <div class="category-btn">
          <p>FOR MEN'S</p>
        </div>

        <div class="dh-overlay"></div>
      </div>

      <div class="category-item">
        <div class="dh-container">
          <img
            alt="image"
            src="http://themesflat.com/html/modaz/images/image-box/imgbox-1-375x240.jpg"
          />
          <div class="category-btn">
            <p>FOR KID'S</p>
          </div>

          <div class="dh-overlay"></div>
        </div>

        <div class="dh-container">
          <img
            alt="image"
            src="http://themesflat.com/html/modaz/images/image-box/imgbox-2-375x240.jpg"
          />

          <div class="category-btn">
            <p>accessories</p>
          </div>

          <div class="dh-overlay"></div>
        </div>
      </div>

      <div class="dh-container category-item">
        <img
          alt="image"
          src="http://themesflat.com/html/modaz/images/image-box/imgbox-2-375x500.jpg"
        />

        <div class="category-btn">
          <p>FOR WOMEN'S</p>
        </div>

        <div class="dh-overlay"></div>
      </div>
    </section>
    <!-- End category component -->

    <!-- Hover -->
    <script src="../js/hover/directional-hover/jquery.directional-hover.min.js"></script>
    <script src="../js/hover/script.js"></script>
  </body>
</html>
