<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/home-list-new-product.css">
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <title>Document</title>
</head>

<body>
  <div class="my-container">
    <h2 class="title">
      New Product
    </h2>
    <ul class="list-product" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
      <li class="product-item">
        <span class="new sale">Sale</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <del class="product-discount">$180</del>
          <ins class="product-price">$100</ins>
          <ul class="product-item-style hidden">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
      <li class="product-item">
        <span class="new">New</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <span class="product-price">$100</span>
          <ul class="product-item-style">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
      <li class="product-item">
        <span class="new">New</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <span class="product-price">$100</span>
          <ul class="product-item-style">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
      <li class="product-item">
        <span class="new">New</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <span class="product-price">$100</span>
          <ul class="product-item-style">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
    </ul>
  </div>


</body>

</html>