<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
    integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="../css/homebanner.css">
  <title>Document</title>
</head>

<body>

  <div class="slider">
    <div class="slider-banner owl-carousel">
      <div class="item slider1">
        <div class="content1">
          <div class="desc">Summer Fashion</div>
          <div class="title">SALE</div>
          <div class="desc-acc">UP TO 30% OFF</div>
          <div class="btn-slider">
            <button>BY NOW</button>
          </div>
        </div>
      </div>
      <div class="item slider2">
        <div class="content2">
          <div class="desc">NEW TREND 2018</div>
          <div class="title">NEW COLLECTION</div>
          <div class="desc">BIG SALE OF THIS WEEK UP TO 30%</div>
          <div class="btn-slider">
            <button>BY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/carousel/script.js"></script>
</body>

</html>