<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/comment.css">
    <link rel="stylesheet" href="../css/common.css" />
   
</head>
<div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>

<div class="container">
<div class="main-single">
    <div class="comments-area">
        <ol class="comment-list">
            <li class="comment">
                <article class="comment-body">                                        
                    <div class="comment-author">
                        <img src="image/comment1.png" alt="image">  
                    </div><!-- .comment-author -->
                    <div class="comment-text">
                        <div class="comment-metadata clearfix">
                            <h5><a id="ten" href="#">Jennifer Aniston</a>   </h5>          
                            <span class="date">October 19,2018</span>                 
                        </div><!-- .comment-metadata -->
                        <div class="comment-content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything barrassing hidden in the middle of text. </p>
                        </div><!-- .comment-content -->

                        <div class="reply">
                            <a id="thumbup-icon" href="#" class="comment-like-link"><i class="fa fa-thumbs-up"></i>108</a>
                            <a id="reply-icon" href="#" class="comment-reply-link"><i class="fa-regular fa-pen-to-square"></i>Reply</a>
                        </div>
                        <ol class="children">
                            <li class="comment style1" id="comment-2">
                                <article class="comment-body" id="div-comment-2">
                                    <div class="comment-author">
                                        <img src="image/comment1-1.png" alt="image">
                                    </div><!-- .comment-author -->
                                    <div class="comment-text">
                                       <div class="comment-metadata clearfix">
                                            <h5><a id="ten" href="#">John Smith</a></h5>                
                                            <span class="date">October 19,2018</span>                   
                                        </div><!-- .comment-metadata -->
                                        <div class="comment-content">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour, or randomised words which don't look even slightly believable...</p>
                                        </div><!-- .comment-content -->

                                        <div class="reply">
                                            <a id="thumbup-icon" href="#" class="comment-like-link"><i  class="fa fa-thumbs-up"></i>108</a>
                                            <a id="reply-icon" href="#" class="comment-reply-link"><i class="fa-regular fa-pen-to-square"></i>Reply</a>
                                        </div>
                                    </div><!-- /.comment-text -->
                                </article><!-- .comment-body -->
                                
                            </li><!-- #comment-## -->
                        </ol><!-- .children -->
                    </div><!-- /.comment-text -->                                       
                </article><!-- .comment-body -->
                
            </li><!-- #comment-## -->
            <li class="comment">
                <article class="comment-body">                                        
                    <div class="comment-author">
                        <img src="image/comment2.png" alt="image">  
                    </div><!-- .comment-author -->
                    <div class="comment-text">
                        <div class="comment-metadata clearfix">
                            <h5><a id="ten" href="#">Wiliam Chrisper</a></h5>                
                            <span class="date">October 19,2018</span>                   
                        </div><!-- .comment-metadata -->
                        <div class="comment-content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything barrassing hidden in the middle of text. </p>
                        </div><!-- .comment-content -->

                        <div class="reply">
                            <a id="thumbup-icon" href="#" class="comment-like-link"><i  class="fa fa-thumbs-up"></i>108</a> 
                            <a id="reply-icon" href="#" class="comment-reply-link"><i class="fa-regular fa-pen-to-square"></i>Reply</a>
                        </div>
                    </div><!-- /.comment-text -->                                       
                </article><!-- .comment-body -->
                
            </li><!-- #comment-## -->                                     
        </ol><!-- .comment-list -->

        <div class="comment-respond" id="respond">
            <div class="comment-reply-title">
                <h5>Write a Comment</h5>
                <p>Your email address will not be published. Required fields are marked *</p>
            </div>
            <form novalidate="" class="comment-form" id="commentform" method="post" action="#">
                <p class="comment-form-comment">
                    <label>Review*</label>
                   <textarea id="text-area" class tabindex="4"  name="comment" 
                   ></textarea>                                     
                </p>
                <p class="comment-name">
                    <label>Name*</label>                                  
                    <input type="text" aria-required="true" size="30" value="" name="author" id="author">
                </p>
                <p class="comment-email"> 
                    <label>Email*</label>                                       
                    <input type="email" size="30" value="" name="email" id="email">
                </p>
                <p class="comment-form-notify clearfix" style="clear:both">
                    <input type="checkbox" name="check-notify" id="check-notify"> <label for="check-notify">Notify me of new posts by email</label>
                </p>                                                        
                <p class="form-submit">                 
                    <button id="nut" class="comment-submit">Submit</button>
                </p>
            </form>
        </div><!-- /.comment-respond -->
    </div><!-- /.comments-area -->
</div><!-- /.main-single -->    




<!-- Go Top -->
<a class="go-top" href="#">
    <i class="fa-solid fa-circle-chevron-up"></i>
</a>  

</div>
</div>
   
</body>
</html>