<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modaz.</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/service-component.css" />
  </head>
  <body>
    <section class="service-container-fluid">
      <div class="my-container service-container">
        <div class="service-item">
          <p><i class="fa-solid fa-truck"></i></p>
          <a class="link">Free Shipping</a>
          <p class="desc">Free Shipping on order over $99</p>
        </div>

        <div class="service-item">
          <p>
            <i class="fa-solid fa-money-bill"></i>
          </p>
          <a class="link">Cash On Delivery</a>
          <p class="desc">The Internet Trend To Repeat</p>
        </div>

        <div class="service-item">
          <p>
            <i class="fa-solid fa-gift"></i>
          </p>
          <a class="link">Gift For All</a>
          <p class="desc">Receive Gift When Subscribe</p>
        </div>

        <div class="service-item">
          <p>
            <i class="fa-solid fa-clock"></i>
          </p>
          <a class="link">Opening All Week</a>
          <p class="desc">6.00 am - 17.00pm</p>
        </div>
      </div>
    </section>

    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/81aaccc8c8.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
