<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css//common.css" />
  <link rel="stylesheet" href="../css/shop-layout.css" />
  <link rel="stylesheet" href="../css/home-list-new-product.css" />
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <title>Document</title>
</head>

<body>

  <div class="test shop-filter-product">
    <div class="filter-shop">
      <p class="showing-product">Showing 1–12 of 56 Products</p>
      <p class="filter-search-product">
        <span class="show-filter">Filter</span>
        /
        <span class="search-product">Search</span>
        </>
    </div>
    <div class="box-filter-product">
      <div class="btn-close">
        <span>X</span>
      </div>
      <div class="widget widget-sort-by">
        <h5>Sort By</h5>
        <ul>
          <li class="active">Default</li>
          <li>Popularity</li>
          <li>Average rating</li>
          <li>Newness</li>
          <li>Price: low to high</li>
          <li>Price: high to low</li>
        </ul>
      </div>
      <div class="widget widget-price">
        <h5>Price</h5>
        <ul>
          <li class="active">$0.00 - $50.00</li>
          <li>$50.00 - $100.00</li>
          <li>$100.00 - $150.00</li>
          <li>$150.00 - $200.00</li>
          <li>$200.00 - 250.00</li>
          <li>250.00+</li>
        </ul>
      </div>
      <div class="widget widget-color">
        <h5>Color</h5>
        <ul>
          <li>
            <a style="--item-style: #faed34"></a>
            <span>Yellow</span>
          </li>
          <li>
            <a style="--item-style: #f5eaea"></a>
            <span>White</span>
          </li>
          <li>
            <a style="--item-style: #ee1313"></a>
            <span>Red</span>
          </li>
          <li>
            <a style="--item-style: #000"></a>
            <span>Black</span>
          </li>
          <li>
            <a style="--item-style: #7cc576"></a>
            <span>Green</span>
          </li>
          <li>
            <a style="--item-style: #cfc300"></a>
            <span>Orange</span>
          </li>

        </ul>
      </div>
      <div class="widget widget-size">
        <h5>Size</h5>
        <ul>
          <li>L</li>
          <li>M</li>
          <li>S</li>
          <li>XL</li>
          <li>XXL</li>
          <li>Oversize</li>
        </ul>
      </div>
      <div class="widget widget-tag">
        <h5>Tags</h5>
        <div class="tag-list">
          <a href="#">All products</a>
          <a href="#" class="active">Bags</a>
          <a href="#">Chair</a>
          <a href="#">Decoration</a>
          <a href="#">Fashion</a>
          <a href="#">Tie</a>
          <a href="#">Furniture</a>
          <a href="#">Accessories</a>
        </div>
      </div>
    </div>
    <div class="shop-search">
      <form>
        <label>
          <input type="search" placeholder="Searching...">
        </label>
      </form>
    </div>
    <ul class="list-product" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
      <li class="product-item kid">
        <span class="new sale">Sale</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <del class="product-discount">$180</del>
          <ins class="product-price">$100</ins>
          <ul class="product-item-style hidden">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
      <li class="product-item man">
        <span class="new">New</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <span class="product-price">$100</span>
          <ul class="product-item-style">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
      <li class="product-item woman">
        <span class="new">New</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <span class="product-price">$100</span>
          <ul class="product-item-style">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
      <li class="product-item accessories">
        <span class="new">New</span>
        <a class="heart"><i class="fa-regular fa-heart"></i></a>
        <a class="product-item-img">
          <img src="https://www.themesflat.com/html/modaz/images/shop/sh-4/13.jpg" />
        </a>
        <div class="product-item-info">
          <h4>Cotton White Underwear Block Out Edition</h4>
          <span class="product-price">$100</span>
          <ul class="product-item-style">
            <li style="--item-style: #ee1313"></li>
            <li style="--item-style: #7cc576"></li>
            <li style="--item-style: #000"></li>
          </ul>
        </div>
        <div class="add-to-cart-item">Add to Cart</div>
      </li>
    </ul>
  </div>
  <script src="../js/shop-filter-product.js"></script>
</body>

</html>